beautifulsoup4
fuzzywuzzy
geographiclib
geopandas
Jinja2
matplotlib
networkx
numpy
pandas
pypdf
pyproj
pytest
python_dateutil
requests_ntlm
setuptools
Shapely
sqlalchemy_json
tqdm
Unidecode
urllib3
xlsxwriter
lxml
python-Levenshtein